@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: #031321;
}
#writinganimation

.the-type {
  width: 80%;
  margin: 0 auto;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  display: inline;
  margin-bottom: 10px;
 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-transform: capitalize;
  border-right-style: solid;
  border-width: 2px;
  
}

h1 {
  color: #575F7D;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

h3 {
  color: #0e6e1d;
  font-size: 20px;
  font-weight: 800;
}

#avatar{
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.container{
    
    margin-top: 8px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 40px 20px;
    border-radius: 8px;
    position: relative;
    z-index: 10;
    height: 43vh;
}

p {
    font-family: 'Pacifico', cursive;
    color: #575F7D;
    font-size: 30px;
    font-weight: thin;
    margin-bottom: 80px;
    align-items: center;
}

p a {
font-family: 'Pacifico', cursive;
color: #575F7D;
font-size: 30px;
font-weight: thin;
margin-bottom: 40px;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ab4a1a;
    font-weight: 600;
    font-size: 16px;
    list-style: none;
}

.project {
  margin-top: 400px;
  
}

a:hover{
    color: black;
}

li {
    display: inline-block;
    padding: 0px auto;
  }
  


h2 {
    color: #0e6e1d;
    font-size: 20px;
    font-weight: 800;
}
.social-link{
    font-size: 30px;
    color: #bab1ad;
}



ul {
    margin: 0;
    padding: 0;
}



@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }


#burger

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 32px;
    position:absolute; 
    float:right;
  
    
  }
  .burger .dash {
    width: 50px;
    height: 5px;
    background: #fff;
    border-radius: 20px;
    transition: 0.25s;
    margin-bottom: 6px;
    
  }
  
  .burger .dash:nth-of-type(4) {
  
    top: calc(5vh - 5px);
  }
  .activebrgr .dash:nth-of-type(4) {
    opacity: 0;
  }
  .activebrgr .dash:nth-of-type(1) {
    opacity: 0;
  }
  .activebrgr .dash:nth-of-type(3) {
    transform: rotate(45deg);
  }
  .activebrgr .dash:nth-of-type(2) {
    transform: rotate(-45deg);
  }
  

#button
.custom-button:hover{
  text-decoration:none;
  color: #272838;
  background-color:#fff;
/*   border-radius:4px; */
}
.custom-button{
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  margin-top: 30px;
  padding: 1em 2rem;
  font-size:20px;
  position:relative;
  transition: all .5s

  
}
.custom-button::before,
.custom-button::after{
  content:"";
  position:absolute;
  width:3rem;
  height:3rem;
  border-style: solid;
  border-color: #fff;
  transition: all .5s
}
.custom-button::before{
  top: -1.7rem;
  left:-1.7rem;
  border-width: 3px 0 0 3px;
}
.custom-button::after{
  bottom:-1.5rem;
  right:-1.5rem;
  border-width: 0px 3px 3px 0px;
}

.custom-button:hover::before,
.custom-button:hover::after{
  width:calc(100% + 3rem);
  height:calc(100% + 3rem);
  border-color:#fff;
}



.movingline {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 20s linear forwards;
  position: relative;
  z-index: -10;
  
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#BGline {
  position: absolute;
  z-index: -5;
  
  top: -200px;


}